Options +FollowSymlinks
RewriteEngine On


# AUTHENTIFICATION
RewriteRule ^auth$ auth_API/authapi.php

# MEDECINS
RewriteRule ^medecins$ app_API/GestionMedecins_API/api.php
RewriteRule ^medecins/([0-9]+)$ app_API/GestionMedecins_API/api.php?id=$1

# USAGERS
RewriteRule ^usagers$ app_API/GestionUsagers_API/api.php
RewriteRule ^usagers/([0-9]+)$ app_API/GestionUsagers_API/api.php?id=$1

# CONSULTATIONS
RewriteRule ^consultations$ app_API/GestionConsultations_API/api.php
RewriteRule ^consultations/([0-9]+)$ app_API/GestionConsultations_API/api.php?id=$1

# STATISTIQUES
RewriteRule ^stats/medecins$ app_API/GestionStat_API/api.php?stat=medecins
RewriteRule ^stats/usagers$ app_API/GestionStat_API/api.php?stat=usagers
